body {
font-family: Arial, sans-serif;
background-color: #212529;
padding: 20px;
margin: 0;
}
  
h1 {
text-align: center;
font-size: 32px;
margin-bottom: 20px;
color: aqua;
}

.table {
width: 100%;
border-collapse: collapse;
background-color: #FFFFFF;
border-radius: 4px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.table-row {
display: flex;
align-items: center;
border-bottom: 1px solid #E0E0E0;
}

.table-cell {
flex: 1;
padding: 10px;
background-color: #6c757d;
color: #fff;
}

.table-header {
font-weight: bold;
background-color: #212529;
padding: 10px;
border-bottom: 1px solid #E0E0E0;
color: #6c757d;
}

.table-cell.value {
color: #fff;
background-color: #6c757d;
}

.table-cell:first-child {
flex: 2;
}

.table-cell:last-child {
flex: 1;
}

@media screen and (max-width: 600px) {
h1 {
    font-size: 24px;
}

.table-cell {
    padding: 5px;
    font-size: 12px;
}
}
  